@font-face {
    font-family: Norse-Bold;
    src: url(fonts/Norse-Bold.otf);
}
.main-container {
    display: flex;
}
body {
    margin: 0;
    padding: 0;
}
.left-bar{
    position: relative;
}
.bg-image {
    width: 660px;
    z-index: -1;
}
.img-card {
    position: absolute;
    background: rgba(26, 26, 26, 0.6);
    width: 660px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 14rem;
}
.img-card img {
    height: 140px;
    margin-right: 20px;
}
.img-card p {
    font-size: 8rem;
    display: inline;
    vertical-align: middle;
    color: white;
    font-family: Norse-Bold, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.img-credits {
    display: block;
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 660px;
    color: white;
    align-content: center;
}
a {
    color: white;
}
.main-content {
    display: inline-block;
}
.headers {
    max-width: 100%;
    padding: 5rem 4rem 2rem;
    background-color: #F9FAFB;
}
.headers h2 {
    font-weight: 500;
}
form {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}
.form {
    padding-right: 300px;
    box-shadow: 0px 5px 5px -4px #444444;;
}
.form h2 {
    margin-left: 65px;
}
fieldset {
    width: 200px;
    margin: 15px;
    border: none;
}
legend {
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 2px;
}
input {
    border-radius: 5px;
    border: 1px solid #E5E7EB;
    height: 30px;
}
input[type="password"]:invalid {
    border: 1px solid red;
}